@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --main-color:#647bff;
    --body-color:#090a1a;
    --container-color:#171b3c;
    --heading-color:#222321;
    --box-color:#0d0f26;
    --bg-color:#fff;
}

::selection{
    color:var(--body-color) ;
    background-color: var(--bg-color);
}


body{
    color:var(--bg-color);
    background-color: var(--body-color);
}



.row-jobs{
    background-color: var(--main-color);
}

.my-list li{
    margin-bottom: 15px;
}



.conatiner ul{

    list-style: none;

}

#cen{
    padding-top: 60px;
}

.carousel-item .cen{
    padding-top: 170px;
}

.navbar.navbar-expand-lg .navbar-toggler:focus {
    outline: none !important;
  }

.join-team{
    padding-top: 50px;
}

#portfolio{
    padding-top: 5px;
}
.row{
    border: none;
    outline:none;
}

@media screen and (max-width:822px){
    .row-job{

        display: flex;

        gap: 2;

    }
    #cen{
        padding-top: 0px;
    }

    .carousel-item .cen{
        padding-top: 0px;
    }
     
}

